.detail-body {
    width: 94.5vw;
    height: calc(100vh - 6.2vw);
    position: absolute;
    top: 6.2vw;
    left: 5.5vw;

    .single-back {
        font-family: SourceHanSansSC-Bold;
        font-size: 1vw;
        color: #FFFFFF;
        width:6vw !important;
        text-align: center;
        padding-left: 1.2vw;
        padding-right: 1.2vw;
        border: 0.1vw solid #00FFDE;
        border-radius: 2vw;
        z-index: 999;
        position: absolute;
        right: 5vw;
        top: 1.5vw;
        z-index: 999;
    }
    .single-back:hover{
        cursor:pointer !important;
    }

    .tables {
        height: calc(calc(100vh - 6.2vw)/100 * 65);
        width:70vw;

        .tables-Right {
            position: absolute;
            left: 71.6vw;
            top: 68px;
            width: 31.9vw;
            text-align: left;

            .table-Right-desc {
                display: block;
                width: 5.6vw;
                text-align: center;
                border: 0.1vw solid #FFFFFF;
                border-radius: 2vw;
                margin: 0.5vw auto;
                margin-left: 0.5vw;
                color: #FFFFFF;
                font-size: 0.8vw;
            }
        }

        .tables-divider {
            position: absolute !important;
            left: 69.8vw !important;
            top: 78px !important;
            height: calc(calc(100vh - 6.2vw)/100 * 65 - 102px) !important;
            background: #000000;
        }
    }

    .table {
        position: absolute;
        top: 2.8vh;
        left: 48px !important;

        .table-title {
            color: #FFFFFF;
            font-size: 1.2vw;
            display: inline-block;
        }
    }


    .table-button {
        display: inline-block;
        font-family: SourceHanSansSC-Bold;
        font-size: 1vw;
        color: #FFFFFF;
        text-align: center;
        padding-left: 1.2vw;
        padding-right: 1.2vw;
        border: 0.1vw solid #00FFDE;
        border-radius: 2vw;
        z-index: 999;
    }

    .btn-one {
        position: absolute;
        left: 22vw;
        width: 6vw;
    }

    .btn-two {
        position: absolute;
        left: 30vw;
        width: 6vw;
    }

    .btn-three {
        position: absolute;
        left: 38vw;
        width: 7vw;
    }

    .btn-four {
        position: absolute;
        left: 46vw;
        width: 7vw;
    }

    .pie {
        .divider-pie {
            position: relative;
            left: 46.5vw;
            top: 2vh;
            height: 25vh !important;
            background: #000000;
        }

        .left {
            width: 45vw;
            height: 30vh;
            display: inline-block;
            position: absolute;
            left: 0;

            .left-title {
                color: #FFFFFF;
                font-size: 1.2vw;
                display: inline-block;
                position: absolute;
                top: 1.5vh;
                left: 48px !important;
            }

            .left-body {
                position: absolute;
                top: 3vh;
                left: calc(48px - 1vw) !important;
                width: 45vw;
                height: 30vh;
            }
        }

        .right {
            width: 45vw;
            height: 30vh;
            display: inline-block;
            position: absolute;
            left: 49.3vw;


            .right-body {
                position: absolute;
                top: 3vh;
                width: 45vw;
                height: 30vh;
            }

            .right-title {
                color: #FFFFFF;
                font-size: 1.2vw;
                display: inline-block;
                position: absolute;
                top: 1.5vh;
                left:1.1vw
            }
        }

    }
}

.ant-modal-content {
    background: #1C252F;
}

