.single-body {
    width: 94.5vw;
    height: calc(100vh - 6.2vw);
    position: absolute;
    top: 6.2vw;
    left: 5.5vw;

    .tables {
        height: calc(calc(100vh - 6.2vw)/100 * 65);
        width: 66.2vw;

        .tables-Right {
            position: absolute;
            left: 68vw;
            top: 4.5vw;
            width: 28.3vw;

            .add {
                position: relative;
                left: -2vw;
                text-align: center;
            }

            .addtext {
                margin-top: 1vw;
                opacity: 0.2;
                font-family: SourceHanSansSC-Normal;
                font-size: 1vw;
                color: #FFFFFF;
                letter-spacing: 0;
                text-align: center;
            }

            .tables-Right-divider {
                width: 10vw !important;
                min-width: 24vw !important;
                background: #000000;
                margin: 0.5vw 0;
            }

            span {
                display: block;
            }

            .title {
                color: #FFFFFF;
                font-size: 1.6vw;

            }

            .desc {
                color: #8494A5;
                font-size: 1vw;
                margin-top: 0.5vh;
            }

            .number {
                color: #8494A5;
                margin-top: 1.2vh;
                font-size: 1vw;

                .number-number {
                    display: inline;
                    font-size: 1.5vw;
                    color: #FFFFFF;
                }
            }
        }

        .tables-divider {
            position: absolute;
            left: 66vw;
            top: 12vh;
            height: 40vh !important;
            background: #000000;
        }
    }

    .sort {
        position: absolute;
        top: 2.8vh;
        left: 64vw;
        z-index: 1;
    }

    .table {
        position: absolute;
        top: 2.8vh;
        left: 4vw;

        .table-title {
            color: #FFFFFF;
            font-size: 1.2vw;
            display: inline-block;
        }
    }


    .table-button {
        display: inline-block;
        font-family: SourceHanSansSC-Bold;
        font-size: 1vw;
        color: #FFFFFF;
        text-align: center;
        padding-left: 1.2vw;
        padding-right: 1.2vw;
        border: 0.1vw solid #00FFDE;
        border-radius: 2vw;
        z-index: 999;
    }

    .btn-one {
        position: absolute;
        left: 22vw;
        width: 6vw;
    }

    .btn-two {
        position: absolute;
        left: 30vw;
        width: 6vw;
    }

    .btn-three {
        position: absolute;
        left: 38vw;
        width: 7vw;
    }

    .btn-four {
        position: absolute;
        left: 46vw;
        width: 7vw;
    }

    .pie {
        .divider-pie {
            position: relative;
            left: 46vw;
            top: 2vh;
            // margin: 0 0.1vw;
            height: 25vh !important;
            // min-height: 90vw !important;
            background: #000000;
        }

        .left {
            width: 45vw;
            height: 30vh;
            display: inline-block;
            position: absolute;
            left: 2vw;

            .left-title {
                color: #FFFFFF;
                font-size: 1.2vw;
                display: inline-block;
                position: absolute;
                top: 1.5vh;
                left: 2.8vw;
            }

            .left-body {
                position: absolute;
                top: 3vh;
                width: 45vw;
                height: 30vh;
            }
        }

        .right {
            width: 45vw;
            height: 30vh;
            display: inline-block;
            position: absolute;
            left: 50vw;

            .right-body {
                position: absolute;
                top: 3vh;
                width: 45vw;
                height: 30vh;
            }

            .right-title {
                color: #FFFFFF;
                font-size: 1.2vw;
                display: inline-block;
                position: absolute;
                top: 1.5vh;
            }
        }

    }
}

.ant-modal-content {
    background: #1C252F;
}

.phone-divider {
    background-color: #000000 !important;
    color: #000000 !important;
    width: 80%;
    min-width: 80%;
}

.phone-two {
   
    font-size: 0.2vw;
    margin-right: 5vw;
    .phone-info {
        .phone-info-left {
            padding-left: 1vw;
            color: #8494A5;
            vertical-align: top;
            display: inline-block;
            width: 30%;
        }

        .phone-info-right {
            color: #FFFFFF;
            text-align: right;
            display: inline-block;
            width: 70%;
        }

        span {
            display: inline-block !important;
            margin-right: 0.4vw;
        }
    }
    .phone-name{
        display: inline-block;
        width:85%;
    }
    img{
        display: inline-block;
        width:1.2vw;
    }
}

.phone-one {
    margin-right: 5vw;
    font-size: 0.2vw;
    .phone-info {
        .phone-info-left {
            padding-left: 1vw;
            color: #8494A5;
            vertical-align: top;
            display: inline-block;
            width: 30%;
        }

        .phone-info-right {
            color: #FFFFFF;
            text-align: right;
            display: inline-block;
            width: 70%;
        }

        span {
            display: inline-block !important;
            margin-right: 0.4vw;
        }
    }
}

.phone-add {
    position: absolute !important;
    top: calc(calc(calc(100vh - 6.2vw)/100 * 60) / 2) !important;
    text-align: center;
    left: 8vw;
}

.phone-type {
    font-family: PingFangSC-Medium;
    margin-top: 0.8vw;
    margin-bottom: 0.7vw;
    color: #FFFFFF;
    letter-spacing: 0;
    font-size: 1.4vw;
    padding-left: 1vw;
    span{
        display: inline-block !important;
        font-size: 0.8vw;
        color:#8494A5;
    }
}

.phone-name {
    .ant-select-selection{
        background: inherit;
        border: none;
    }
    .ant-select{
        width:12vw !important;
    }
    .ant-select-selection-selected-value{
        opacity: 0.8;
        font-family: SourceHanSansSC-Normal;
        font-size: 1.4vw;
        color: #FFFFFF;
        margin-bottom: 0vw;
        letter-spacing: 0;
        padding-right:1vw !important;
    }
    .ant-select-selection__rendered{
        width:100%;
        padding-right:1vw !important;
        margin-right: 1vw;
        margin-left: 1vw;
        line-height: 1.6vw;
    }
    .ant-select-selection--single{
        height: 1.6vw;
    }
    .ant-select-arrow{
        font-size: 0.8vw;
        color: #FFFFFF;
        right:0.5vw;
        line-height:0.8vw;
    }
}

.phone-li-divider {
    color:rgba(255,255,255,0.14);
    background-color: rgba(255,255,255,0.14);
    width: 95%;
    min-width: 95%;
    margin: 0.5vw auto;
}