.pies{
    height:100%!important;
    width:30% !important;
    margin: 0 auto;
    margin-left: 0;
    margin-right: 0.6vw;
    display: inline-block;
    background: url(../../../assets/Oval.png) no-repeat;
    background-position:50% 50%; 
    background-size:72%;
}